body {
	text-align: center;
    margin: 0pt;
    background-color: #ddf;
}

#content {
	padding: 20pt 20pt;
	margin: 0 auto;
	text-align: left;
	width: 600pt;
	height: 100%;
    background-color: #f6f6ff;
}

h1 {
	font-size: 150%;
	margin: 30px 0;
}

table {
	border-collapse: collapse;
	width: 100%;
	padding: 0;
}

td {
	margin: 0;
	border: 0;
	padding: 2px;	
}

th {
	text-align: left;	
	background-color: #2580a2;
    color: white;
	font-weight: bold;
}

th a {
	text-decoration: none;
    color: white;
}

th a:hover {
	text-decoration: underline;
}

table.list th a {
    color: white;	
}

a {
	color: #2580a2;
	text-decoration: none;
}

a:visited {
	color:  #2580a2;
}

a:hover {
	text-decoration: underline;
}

a.action {
    color: #2580a2;
    text-decoration: none;
}

a:visited.action {
    color: #2580a2;
}

a.action:hover {
	text-decoration: none;
	
}

#menu {
    background: #333;
	-moz-box-shadow: 0px 3px 3px #2580a2;
    -webkit-box-shadow: 0px 3px 3px #2580a2;
    box-shadow: 0px 3px 3px #2580a2;
    float: left;
    list-style: none;
    margin: -20pt;
    padding: 0 20px;
    width: 610pt;
	
}

#menu li {
    float: left;
    font-size: 110%;
    margin: 0;
    padding: 0;
}

#menu a {
    background: #333 bottom right no-repeat;
    color: #ddd;
    display: block;
    float: left;
    margin: 0;
    padding: 4px 12px;
    text-decoration: none;
}

#menu a:hover {
    background: #2580a2 bottom center no-repeat;
    color: #fff;
    padding-bottom: 4px;
}
