= render 'crud/actions_index'

= link_action ti(:'link.ajax'), nil, {:action => 'ajax'}, :method => :get, :remote => true

#response

- content_for :javascripts do
  var sayHello = function() { alert('Hello'); };
