<% @title = "Listing #{models_label}" -%>

<%= render :partial => 'list' %>

<br/>

<%= link_action_add %>
<%= link_to 'Ajahx', {:action => 'ajax'}, :method => :get, :remote => true %>
<div id="response"></div>
