<%= render_attrs @person, *default_crud_attrs %>

<dl class="dl-horizontal">
  <%= labeled(ti(:i_think_its), ti(:nice)) %>
  <%= labeled(ti(:check_google)) do %>
    <%= link_to ti(:"link.maps"), "http://map.google.com/?q=#{@person.name}" %>
  <% end %>
</div>