<% if errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(errors.count, "error") %> prohibited this entry from being saved:</h2>
	    <ul>
	        <% errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
	        <% end %>
	    </ul>
	</div>
<% end -%>
