<div class="labeled">
	<div class="caption"><%= label.presence || raw(StandardHelper::EMPTY_STRING) %></div>
	<div class="value"><%= content.presence || raw(StandardHelper::EMPTY_STRING) %></div>
</div>