<div class="labeled">
	<label>
	<%= label.presence || raw(StandardHelper::EMPTY_STRING) %>
	</label>
	<div class="subject">
	<%= content.presence || raw(StandardHelper::EMPTY_STRING) %>
	</div>
</div>