<table class="list">
	<tr>
		<% list.cols.each do |c| -%>
			<th><%= c.header %></th>
		<% end -%>
	</tr>
<% list.entries.each do |e| -%>
	<% tr_alternate do -%>
		<% list.cols.each do |c| -%>
			<td<%= c.html_options %>><%= c.content(e) %></td>		
		<% end -%>
	<% end -%>
<% end -%>
</table>