= render 'crud/actions_index'

= action_link(ti(:'link.turbo'),
              nil,
              { action: 'turbo' },
              data: { 'turbo-stream': true })

#response

- content_for :javascripts do
  var sayHello = function() { alert('Hello'); };
