<%= render partial: 'crud/actions_index' %>

<%= action_link(ti(:'link.turbo'),
                nil,
                { action: 'turbo' },
                data: { 'turbo-stream': true }) %>

<div id="response"></div>

<% content_for :javascripts do %>
  var sayHello = function() { alert('Hello'); };
<% end %>
