<% if flash[level].present? %>
  <div data-alert="alert" class="alert alert-<%= flash_class(level) %>">
    <a class="close" href="#" data-dismiss="alert">&times;</a>
    <div>
    <%= raw flash[level] %>
    </div>
  </div>
<% end %>