<%= link_to 'MyApp', root_path, class: 'navbar-brand' %>
<ul class="nav navbar-nav">
  <li><%= link_to "Link1", "/path1"  %></li>
  <li><%= link_to "Link2", "/path2"  %></li>
  <li><%= link_to "Link3", "/path3"  %></li>
</ul>
