body, div, p, td, th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

td {
	vertical-align: top;
}

tr.even {
	background-color: #DDD;
}

tr.odd { 
	background-color: #EEE;
}

table.list {}

/* div rendered if no entries available for list */
div.list {}

.right_align {
	text-align: right;
}

.center_align {
	text-align: center;
}

.labeled {
	vertical-align: top;
	
	margin: 1pt;
}

.labeled .caption {
	font-style: italic;
	width: 120pt;
	padding-right: 5pt;
	display: inline-block;
}

.labeled .value {
	
}

.attributes {}

.flash_notice {
	color: #663333;
}

