= link_to 'MyApp', root_path, :class => 'brand'
%ul.nav
  %li= link_to t(:'global.menu.people'), people_path
  %li= link_to t(:'global.menu.countries'), admin_countries_path
  %li= link_to t(:'global.menu.vips'), vips_path