<%= link_to 'MyApp', root_path, class: 'navbar-brand' %>
<ul class="nav navbar-nav">
  <li><%= link_to t(:'global.menu.people'), people_path %></li>
  <li><%= link_to t(:'global.menu.countries'), admin_countries_path %></li>
  <li><%= link_to t(:'global.menu.vips'), vips_path %></li>
</ul>